*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px dotted red;
}
.container {
    max-width: 900px;
    margin: 0 auto;
}
h1{
    text-align: center;
}
header {
    position: relative;
    height: 60px;
    padding-top: 20px;
    vertical-align: middle;
    text-align: end;
}
#logo{
    position: absolute;
    top: 20px;
    left: 0;
}
header div, header p, header a {
    display: inline-block;
    margin-left: 20px;
} 
label, input {
    display: block;
}
form {
    position: relative;
    width: 400px;
    margin: 10px auto;
}
.error {
    color: red;
    text-align: center;
}
.success {
    color: green;
    text-align: center;
}
#register, #login {
    position: absolute;
    bottom: 0;
    right: 0;
}
/* ----------------SECTION--------------------- */
section {
    width: 800px;
    margin: 0 auto;
    text-align: start;
}
section form {
    width: 800px;
    position: relative;
    height: 170px;
}
section h1 {
    color: blueviolet;
}
section textarea {
    width: 800px;
    height: 70px;
}
#review-btn {
    position: absolute;
    top: 120px;
    right: 0;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: white;
    width: 100px;
    height: 30px;
}
.posts {
    margin: 10px auto;
    text-align: end;
}
.line {
    padding-bottom: 10px;
    border-bottom: 2px solid cornflowerblue;
}
.posts textarea{
    width: 700px;
    height: 70px;
}
.reply-btn {
    background-color: cadetblue;
    color: white;
}